@mixin flex($align, $justify: unset) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin center() {
    @include flex(center, center);
}

@mixin trn($s: 0.2) {
    transition: all #{$s}s ease-in-out;
}

@mixin media($width) {
    @media screen and (max-width: #{$width}px) {
        @content;
    }
}

@mixin hover() {
    @media (any-hover:hover) {
        @content;
    }
}

@mixin adaptive-value($property, $starSize, $minSize) {
    $addSize: $starSize - $minSize;
    #{$property}: $starSize + px;
    @media (max-width:#{1280 + px}) {
        #{$property}: calc(
            #{$minSize + px} + #{$addSize} *
              ((100vw - 320px) / #{1280 - 320})
        );
    }
}