.banner {
    margin-top: 20px;

    @include media(550) {
        height: 180px;
    }

    &-wrapper {
        border-radius: 6px;
        background-color: $white;
        border: 1px solid $gray-300;
        padding: 20px 15px;
        display: flex;
        height: 400px;
        column-gap: 10px;
    }

    &-slider {
        max-width: calc(100% - 250px);
        flex: 1 1 auto;
        height: 100%;

        @include media(720) {
            max-width: 100%;
        }
    }

    &-categories {
        width: 250px;
        height: 100%;

        @include media(720) {
            display: none;
        }
    }
}

.categories {
    &-list {
        &__item {
            display: block;
            border-radius: 6px;
            padding: 10px;
            font-weight: 400;
            font-size: 16px;
            color: $gray-600;

            @include hover() {
                &:hover {
                    background-color: $primary-light;
                    font-weight: 500;
                    color: $dark;
                }
            }
        }
    }
}

.slider {
    &-banner {
        position: relative;

        @include media(650) {
            height: 270px;
        }

        @include media(550) {
            height: 180px;
        }
    }

    &-slide {
        &__image {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            width: 100%;
            height: 100%;
            position: relative;
            @include adaptive-value('padding', 46, 20);

            @include media(550) {
                display: flex;
            }
        }

        &__toptitle {
            font-weight: 400;
            font-size: 28px;
            line-height: 120%;
            color: $dark;
            margin-bottom: 4px;
        }

        &__title {
            font-weight: 700;
            @include adaptive-value('font-size', 32, 18);
            @include adaptive-value('line-height', 120%, 70%);
            line-height: 120%;
            color: $dark;
            margin-bottom: 16px;
        }
    }
}