.products {
    margin-top: 20px;

    &-wrapper {
        border-radius: 6px;
        background-color: $white;
        display: flex;
        height: 257px;

        @include media(750) {
            flex-direction: column;
            background-color: transparent;
            border: none;
        }
    }

    &-content {
        position: relative;
        width: 250px;
        height: 100%;
        padding: 20px;

        @include media(750) {
            padding: 0 20px;
            width: 100%;
            margin: 10px 0 30px 0;
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include media(750) {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__row {
            position: relative;
            @include flex(unset, center);
            flex-direction: column;
            height: 100%;
        }

        &__title {
            font-weight: 600;
            font-size: 28px;
            line-height: 26px;
            letter-spacing: -0.02px;
            color: $white;
            margin-bottom: 18px;

            @include media(750) {
                color: $dark;
                font-size: 20px;
            }
        }

        &__btn {
            width: 100%;
            background-color: $white;
            border-radius: 6px;
            padding: 12px 16px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $dark;
            @include trn();

            @include media(750) {
                display: none;
            }

            @include hover() {
                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }
        }
    }

    &-card {
        width: 232px;
        height: 127px;
        display: flex;
        border: 1px solid $gray-300;

        @include media(750) {
            @include center();
            flex-direction: column-reverse;
            width: 160px;
            height: 173px;
            background-color: $white;
        }

        &__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 930px;

            @include media(1210) {
                width: 900px;
                flex-direction: column;
                overflow-x: scroll;

                @include media(1130) {
                    width: 850px;
                }

                @include media(1030) {
                    width: 720px;
                }

                @include media(930) {
                    width: 600px;
                }

                @include media(750) {
                    width: 100%;
                    max-height: 100% !important;
                }
            }
        }

        &__contents {
            width: 127px;
            padding: 20px 0 0 16px;

            @include media(750) {
                padding: 5px 9px;
            }
        }

        &__title {
            font-weight: 400;
            font-size: 13px;
            line-height: 19px;
            color: $dark;
            margin-bottom: 9px;

            @include media(750) {
                font-size: 11px;
                margin-bottom: 4px;
            }
        }

        &__subtitle {
            display: inline-block;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: $gray-500;

            @include media(750) {
                font-size: 11px;
            }
        }

        &__image {
            width: 95px;
            height: 95px;
            margin-top: 15px;

            @include media(750) {
                height: 85px;
                margin: 3px 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}