.characteristic {
    width: 100%;

    &-list {
        &__item {
            width: 100%;
            @include flex(center, space-between);
            @include adaptive-value('padding', 12, 8);
            border-radius: 4px;

            span {
                @include adaptive-value('font-size', 16, 11);
                color: #858997;
            }

            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, .05);
            }

        }
    }

    &-value {
        color: $primary !important;
    }
}