.checkout {
    margin: 50px 0;
    position: relative;

    &-wrapper{
        display: flex;
    }

    .form-group{
        border: 1px solid $gray-400;
        border-radius: 6px;
        display: flex;
        overflow: hidden;

        .input-addon{
            background-color: $gray-400;
            @include center();
            padding: 4px;
        }

        input{
            border: none;
        }
    }

}